[submodule "cognee-litert-lm"]
	path = cognee-litert-lm
	url = https://github.com/yudaprama/cognee-litert-lm.git
[submodule "rig-libsql"]
	path = rig-libsql
	url = https://github.com/yudaprama/rig-libsql.git
